<footer class="bg-dark text-white py-4">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-3 mb-3 border-divider">
        <h5>Sobre nuestras redes</h5>
        <a href="https://facebook.com" class="text-white me-3" target="_blank">
          <i class="bi bi-facebook fs-3"></i>
        </a>
        <a href="https://instagram.com" class="text-white me-3" target="_blank">
          <i class="bi bi-instagram fs-3"></i>
        </a>
        <a href="https://twitter.com" class="text-white" target="_blank">
          <i class="bi bi-twitter fs-3"></i>
        </a>
      </div>
      <div class="col-md-3 mb-3 border-divider">
        <h5>Números de teléfono</h5>
        <p>
          <i class="bi bi-telephone-fill me-2"></i> +54 11 45627891
        </p>
        <p>
          <i class="bi bi-whatsapp me-2"></i> +54 11 98765488
        </p>
      </div>
      <div class="col-md-3 mb-3 border-divider">
        <h5>Soporte Técnico</h5>
        <p>
          <i class="bi bi-telephone-fill me-2"></i> +54 11 351498345
        </p>
        <p>
          <i class="bi bi-whatsapp me-2"></i>
          <a href="https://chat.whatsapp.com/Epa5skGJb1xGpMe5cBKVEy" target="_blank">Grupo de soporte técnico de Whatsapp</a>.
        </p>
      </div>
      <div class="col-md-3 mb-3">
        <h5>Nuestro correo electrónico</h5>
        <p>
          <i class="bi bi-envelope-fill me-2"></i> CC.comercio@gmail.com
        </p>
        <p>
          <i class="bi bi-envelope-fill me-2"></i> CC.soporte.tecnico@gmail.com
        </p>
      </div>
    </div>
    <div class="text-center mt-3">
      <small>&copy; 2025 Castle Clothing. Todos los derechos reservados.</small>
    </div>
  </div>
</footer>
