<div class="login-background">
  <div class="login-container">
    <img src="assets/imagenes/login/cc.png" alt="Castle Clothing Logo" class="logo" />
    <h1>CASTLE CLOTHING</h1>
    <form (ngSubmit)="login()">
      <input
        type="text"
        placeholder="Usuario"
        class="input-field"
        [(ngModel)]="username"
        name="username"
        required
      />
      <input
        type="password"
        placeholder="Contraseña"
        class="input-field"
        [(ngModel)]="password"
        name="password"
        required
      />
      <button type="submit" class="btn-login">Ingresar</button>
    </form>
  </div>
</div>

<!-- Toasts -->
<div *ngIf="toastMessage" class="toast" [ngClass]="toastClass">
  <p>{{ toastMessage }}</p>
</div>
