<div class="login-background">
    <div class="login-container">
      <img src="assets/imagenes/login/cc.png" alt="Castle Clothing Logo" class="logo" />
      <h1>CASTLE CLOTHING</h1>
      <form>
        <input
          type="text"
          placeholder="Usuario"
          class="input-field"
          required
        />
        <input
          type="password"
          placeholder="Contraseña"
          class="input-field"
          required
        />
        <button type="submit" class="btn-login">Ingresar</button>
      </form>
    </div>
  </div>
  