.home-container {
  margin-top: -110px; /* Espacio opcional entre el Nav y la imagen */
  text-align: center;
}

.home-image {
  width: 100%; /* Ocupa todo el ancho de la pantalla */
  height: 820px; /* Mantiene la proporción de la imagen */
}
