.home-container {
  margin-top: -116px; 
  text-align: center;
}

.slogan {
  font-family: "Newsreader", serif;
}

.home-image {
  width: 100%; 
  height: 850px; 
}

.title-container {
  padding-top: 2rem;
  position: relative; /* Para posicionar la línea sobre el texto */
}

.title {
  display: inline-block; /* Centra el h1 con respecto a sí mismo */
  position: relative; /* Permite posicionar el pseudo-elemento */
  padding-top: 10px; /* Ajusta el espacio entre la línea y el texto */
  margin: 0; /* Elimina márgenes adicionales del h1 */
  font-family: "Newsreader", serif;
  font-size: 2rem;
}

.title::before {
  content: ""; /* Genera el pseudo-elemento para la línea */
  position: absolute;
  top: 0; /* Coloca la línea justo encima del texto */
  left: 0;
  width: 100%; /* La línea tendrá el mismo ancho que el h1 */
  height: 2px; /* Grosor de la línea */
  background-color: rgb(87, 87, 87); /* Color de la línea */
}

.row {
  padding-bottom: 2rem;
  font-family: "Red Hat Display", sans-serif;
}

.image-section {
  position: relative;
  width: 100%;
  height: 900px;
  overflow: hidden; 
}
.image-section img {
  width: 100%;
  height: 900px;
  object-fit: cover; 
  padding-bottom: 2rem;
}
.overlay-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-family: "Red Hat Display", sans-serif;
}
.overlay-content h1 {
  font-size: 2rem;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.8);
  font-family: "Newsreader", serif;
}
.overlay-content .btn-transparent {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1.2rem;
  color: white; 
  border: 2px solid white; 
  background-color: transparent; 
  text-shadow: none;
  transition: all 0.3s ease; 
}
.overlay-content .btn-transparent:hover {
  background-color: transparent;
  border: 2px solid black; 
  color: black; 
}

.custom-title {
  display: inline-block; /* Permite centrar el h2 en relación a sí mismo */
  position: relative; /* Habilita el pseudo-elemento */
  margin: 0; /* Elimina márgenes predeterminados */
}

.custom-title::before {
  content: ""; /* Crea la línea */
  position: absolute;
  top: -10px; /* Ajusta la distancia de la línea al texto */
  left: 0;
  width: 100%; /* La línea abarcará todo el ancho del texto */
  height: 2px; /* Grosor de la línea */
  background-color: rgb(78, 77, 77); /* Color de la línea */
}
