.home-container {
  margin-top: -116px; 
  text-align: center;
}

.slogan {
  font-family: "Newsreader", serif;
}

.home-image {
  width: 100%; 
  height: 850px; 
}

.title-container {
  padding-top: 2rem;
  position: relative;
}

.title {
  display: inline-block;
  position: relative;
  padding-top: 10px;
  margin: 0;
  font-family: "Newsreader", serif;
  font-size: 2rem;
}

.title::before {
  content: ""; 
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%; 
  height: 2px; 
  background-color: rgb(87, 87, 87); 
}

.row {
  padding-bottom: 2rem;
  font-family: "Red Hat Display", sans-serif;
}

.image-section {
  position: relative;
  width: 100%;
  height: 900px;
  overflow: hidden; 
}
.image-section img {
  width: 100%;
  height: 900px;
  object-fit: cover; 
  padding-bottom: 2rem;
}
.overlay-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-family: "Red Hat Display", sans-serif;
}
.overlay-content h1 {
  font-size: 2rem;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.8);
  font-family: "Newsreader", serif;
}
.overlay-content .btn-transparent {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1.2rem;
  color: white; 
  border: 2px solid white; 
  background-color: transparent; 
  text-shadow: none;
  transition: all 0.3s ease; 
}
.overlay-content .btn-transparent:hover {
  background-color: transparent;
  border: 2px solid black; 
  color: black; 
}

.custom-title {
  display: inline-block; 
  position: relative;
  margin: 0; 
}

.custom-title::before {
  content: ""; 
  position: absolute;
  top: -10px; 
  left: 0;
  width: 100%; 
  height: 2px;
  background-color: rgb(78, 77, 77); 
}
