<div class="home-container position-relative">
    <img src="./././assets/imagenes/contacto/local.jpg" alt="Imagen de inicio" class="home-image img-fluid">
    <div class="text-overlay position-absolute top-50 start-50 translate-middle text-center">
        <h1 class="title">Contáctanos</h1>
    </div>
</div>

<div class="container blurred-border rounded-3 shadow-lg py-2">
  <div class="row">
      <div class="col-md-6 d-flex flex-column align-items-center justify-content-start p-4 elemento">
          <h2 class="text-center bordered-h2 fs-3 mb-5">¡Danos tu opinión!</h2>
          <p class="text-center fs-5 my-4">En Castle Clothing, valoramos la opinión de nuestros clientes porque creemos que su experiencia nos ayuda a mejorar. Si tiene alguna consulta o necesita asistencia técnica, nuestro equipo de soporte estará encantado de brindarle la ayuda que necesite.</p>
          <img src="./././assets/imagenes/contacto/cc.png" class="img-fluid mt-4" style="width: 200px; height: auto;">
      </div>
      <div class="col-md-6 bg-light p-4">
        <img src="./././assets/imagenes/contacto/grupo whatsapp.jpg" 
        alt="Únete al grupo de WhatsApp" class="img-fluid rounded-3">
      </div>
  </div>
</div>

<div class="elegant-container">
  <div class="row align-items-center text-center">
    <div class="col-12 col-md-4">
      <h1>Nuestra dirección</h1>
      <p>Av. Siempre viva 1234, La Matanza.</p>
    </div>
    <div class="col-12 col-md-4">
      <h1>Nuestro correo electrónico</h1>
      <p>castleclothing@gmail.com</p>
    </div>
    <div class="col-12 col-md-4">
      <h1>Nuestros números telefónicos</h1>
      <p>+54 1139999299</p>
    </div>
  </div>
</div>

<div class="maps">
  <iframe 
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2455.0325159117827!2d1.502309315997065!3d52.33804717977439!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47d98b3b22d87f35%3A0xc98ddad9d35cadc7!2sCastle%20Clothing%20Ltd!5e0!3m2!1ses!2sar!4v1698174869874!5m2!1ses!2sar" 
    width="100%" 
    height="400" 
    style="border:0;" 
    allowfullscreen="" 
    loading="lazy" 
    referrerpolicy="no-referrer-when-downgrade">
  </iframe>
</div>

